body {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  cursor: default !important;
}

.popupCard {
  min-height: 70dvh;
}

#quote+#author {
  opacity: 0;
}

#quote:hover+#author,
#author:hover {
  opacity: 1;
  transition: all 2s ease;
}

.reem {
  font-family: 'Reem Kufi Fun', sans-serif;
  font-weight: 700;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.fw-semi {
  font-weight: 600 !important;
}

.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

.frosted {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(13px);
}

.pointer {
  cursor: pointer !important;
}

#homepage,
#homepage>div,
#popup>div {
  min-height: 100dvh;
}

#weather {
  min-width: 290px;
}

.weather-icon {
  aspect-ratio: 1/1;
  object-fit: cover;
  height: 100%;
  padding: 0;
  margin: 0;
  mask-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
}