<div class="container-fluid text-light" id="homepage">
    <div class="row flex-column justify-content-between align-items-center">
        <div class="col-12">
            <div class="row justify-content-between align-items-center mt-1">
                <div class="col-lg-4 col-2">
                    <i onclick="app.PopupController.performPopup('Settings')"
                        class="pointer fs-3 mdi mdi-cog-outline"></i>
                    <i onclick="app.AuthController.logout()" class="pointer fs-3 ms-2 mdi mdi-logout"></i>
                </div>
                <div class="col-lg-4 col-md-5 col-10">
                    <div onclick="app.PopupController.performPopup('Todos')"
                        class="d-inline pointer float-end frosted px-4 py-1 inter fw-semi fs-5 fw-light rounded rounded-pill ">
                        <i class="pe-2 mdi mdi-arrow-right-thick"></i>
                        <span id="todo-count">0 Todos Remaining</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col text-center">
                    <h1 class="reem" id="time"></h1>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row justify-content-lg-between justify-content-center align-items-end">
                <div class="order-2 order-lg-1 col-xl-2 col-lg-3 col-3 frosted ms-2 mb-2" id="weather">

                </div>
                <div class="order-1 order-lg-2 col-xl-4 col-lg-5 col-md-7 col-8 mb-3">
                    <h4 class="inter fw-semi text-center" id="quote"></h4>
                    <h5 class="inter fw-semi text-end" id="author"></h5>
                </div>
                <div class="order-3 col-xl-2 col-lg-3">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid d-none h-100 inter" id="popup">
    <div class="row flex-column justify-content-center align-items-center">
        <div class="col-xxl-3 col-xl-5 col-lg-7 col-md-9 col-11 frosted rounded shadow p-5 popupCard">
            <div class="row" id="popup-content">

            </div>
        </div>
    </div>
</div>